<!-- navbar -->
<nav class="navbar">
  <div class="navbar-content">
    <!-- logo -->
    <div class="navbar-logo">
      <a href="<%= url_for() %>">
        <% if (theme.logo) { %>
          <img src="<%= theme.logo %>" alt="<%= config.title %>" />
        <% } else { %>
          <%= config.title %>
        <% } %>
      </a>
    </div>
    <!-- link -->
    <div class="navbar-link">
      <div class="navbar-btn">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul class="navbar-list">
        <% for (var i in theme.menu) { %>
          <li class="navbar-list-item"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
        <li class="navbar-list-item">
          <div class="wallet-connect-wrap">
            <button class="wallet-connect-btn" type="button" data-wallet-connect>连接钱包</button>
            <div class="wallet-panel" data-wallet-panel>
              <button class="wallet-panel-item" type="button" data-wallet-copy>复制地址</button>
              <button class="wallet-panel-item" type="button" data-wallet-disconnect>断开</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
